    <h3>Autor de <%= title %></h3>
    <p>Jose A. Ben&#236tez Pel&#225;ez</p>
    <img src="http://www.mapamundi.org/albums/userpics/10002/favicono-mochilero-70.png">
<br>
  <iframe width="50%" height="50%" src="https://www.youtube.com/embed/Iq3UBmSH7Ps?autoplay=1" frameborder="0" allowfullscreen></iframe>
